<h3>All registered users:</h3>
<p>
    <a [routerLink]="['/users/-1']" class="btn btn-success">Add New</a>
</p>
<table class="table">
    <tbody>
        <tr *ngFor="let user of users">
            <th>{{user.username}}</th>
            <td>{{user.email}}</td>
            <td>{{user.title}}</td>
            <td><a [routerLink]="['/users/' + user.id]" class="btn btn-link">Edit</a>&nbsp;|&nbsp;
                <a (click)="delete(user.id)" class="btn btn-link">Delete</a></td>
        </tr>
    </tbody>
</table>
